:root {
    --tableColor: var(--primary-color-A);
}


.mainContent {
    max-height: 50vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    border: solid var(--color-black) 0.1rem;
    border-collapse: collapse;
}



.fl-table {
    margin: 1rem;
    overflow-y: scroll;
    border-radius: 5rem 5rem 0 0;
    border-collapse: collapse;
    box-shadow: 0 0 2rem var(--primary-color-C);
    text-align: center;
    font-weight: bold;
}


.fl-table thead tr {
    background-color: var(--tableColor);
    color: var(--color-white);

}

.fl-table td {
    padding: 2rem 8rem;
}

.fl-table tbody tr {
    border-bottom: 0.8px solid var(--color-white);
}

/*style esclusivo per elementi posti in posizione pari nella sezione body della tabella*/
.fl-table tbody tr:nth-of-type(even) {
    background-color: var(--primary-color-D);

}

/*style esclusivo per elementi posti in posizione dispari nella sezione body della tabella*/
.fl-table tbody tr:nth-of-type(odd) {
    background-color: var(--color-white);
}

/*alla fine della tabella aggiunge una linea colorata*/
.fl-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--tableColor);
}

.fl-table tbody tr.active-row {
    font-weight: bold;
    color: var(--tableColor);
}

.fl-table tbody input {
    display: block;
    width: 100%;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
    color: var(--primary-color-B);
    background-color: var(--color-white);
    border: 0.1rem solid var(--primary-color-D);
    border-radius: 1rem;
    box-shadow: 0px 1px 6px var(--primary-color-D);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.fl-table tbody input[type="text"] {}


.fl-table tbody input[type="number"] {}

.fl-table tbody input[type="file"] {

    opacity: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.fl-table tbody input[type="file"]:hover {
    opacity: 100%;
    background-color: var(--primary-color-A);
}


.tbutton {
    color: var(--tableColor);
    background-color: var(--primary-color-D);
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    margin: 2rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    border: solid var(--tableColor) 0.1rem;
}

button {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    background-color: var(--primary-color-A);
    color: var(--color-white);
    box-shadow: 0 0.5rem 2rem var(--primary-color-A);
    transition: all 0.3s ease;
    
}

button:hover {
    background-color: var(--primary-color-A);
    box-shadow: 0 1rem 3rem var(--primary-color-A);
    transform: translateY(-0.2rem);
}

button:active {
    background-color: var(--primary-color-A);
    box-shadow: 0 0.1rem 0.7rem rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000088;
    z-index: 1;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    padding: 20px;
    text-align: center;
    z-index: 2;
}

#close-popup {
    margin-top: 20px;
}

#popup .box-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem;

    border: solid var(--tableColor) 0.1rem;
    margin: 1rem;
}