:root {
    --tableColor: var(--primary-color-A);
}


.mainContent {
    width: 100%;
    height: 100rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color-E);
    overflow-y: scroll;
    border: solid var(--color-black) 0.1rem;
}



.fl-table {
    

    margin: 10vh 0;
    overflow-y: scroll;
    border-radius: 5px 5px 0 0;
    border-collapse: collapse;
    box-shadow: 0 0 2rem var(--primary-color-C);
}


.fl-table thead tr {
    background-color: var(--tableColor);
    color: var(--color-white);
    text-align: center;
    font-weight: bold;
}

.fl-table td {
    padding: 2rem 8rem;
    /*border: 2px solid var(--tableColor);
    da eliminare*/
}

.fl-table tbody tr {
    border-bottom: 0.8px solid var(--color-white);
    text-align: center;
}

/*style esclusivo per elementi posti in posizione pari nella sezione body della tabella*/
.fl-table tbody tr:nth-of-type(even) {
    background-color: var(--primary-color-D);

}

/*style esclusivo per elementi posti in posizione dispari nella sezione body della tabella*/
.fl-table tbody tr:nth-of-type(odd) {
    background-color: var(--color-white);
}

/*alla fine della tabella aggiunge una linea colorata*/
.fl-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--tableColor);
}

.fl-table tbody tr.active-row {
    font-weight: bold;
    color: var(--tableColor);
}

.fl-table tbody select,
input {
    border: solid var(--primary-color-A) 0.1rem;
    min-width: 4rem;
    max-width: 15rem;
}

.fl-table tbody select,
input[type="text"] {

}
.fl-table tbody select,
input[type="number"] {

}
.fl-table tbody select,
input[type="file"] {
    
}


.button {
    color: var(--tableColor);
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
    border-radius: 0rem;
    border: solid black 1px;
}

