:root {
    --primary-color-A: #dd4814;
    --primary-color-B: #77216f;
    --primary-color-C: #5e2750;
    --primary-color-D: #2c001e;
    --primary-color-D: #aea79f;
    --primary-color-E: #333333;

    --color-white: #ffff;

    --cartShoppingHeight: 10rem;
    
}

body {
    font-family: Helvetica;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}


::selection {
    color: var(--primary-color-D);
    background-color: var(--primary-color-B);
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--primary-color-D);
    border-radius: 1rem;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 0.3rem;
    background-color: var(--primary-color-A);
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--primary-color-D);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
